header {
    background-color: var(--bg-color-header);
    color: var(--text-color-header);
    font-size: 2.4rem;
    line-height: 2.8rem;
    height: 7rem;
    padding: 0 2rem;

    display: flex;
    align-items: center;
}