#ct-catalog-section {
  padding: 4rem 0;
}

.ct-catalog-main {
  padding: 0 1rem;
}

.ct-search-bar-container {
  margin-bottom: 4rem;
}

.ct-catalog-cards-container {
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: repeat(auto-fill, minmax(25.8rem, 1fr));
  align-items: center;
  justify-content: center;
}

@media (min-width: 576px) {
  .ct-catalog-main {
    padding: 0 2rem;
  }
}
